build
inst

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Ignore pyc files
*.pyc

# Ignore Python source directories
cython-*/
Python-*/

# Ignore Python source archives
Python-*.tgz
Python-*.zip